{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">about us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">welcome to farm easy</p>
                </div>
            </div>
        </header>

<!-- story -->
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
<p align="justify">
Lorem ipsum odor amet, consectetuer adipiscing elit. Auctor posuere justo mollis pharetra dapibus ultricies elit quisque. Pellentesque gravida iaculis odio cubilia venenatis ante! Arcu posuere posuere faucibus egestas montes imperdiet pharetra dolor vehicula. Porta senectus faucibus integer sapien maximus aliquet fringilla a. Urna mattis ad litora vitae volutpat sollicitudin. Natoque pulvinar libero urna ligula conubia.
<br/><br/>
Enim cras odio vel lectus massa cras est ac. Dictum elementum quis potenti inceptos nisi montes mi laoreet? Congue venenatis curae dui dui aliquam integer libero. Torquent lobortis nisi augue blandit vivamus. Praesent hac posuere convallis imperdiet curae tincidunt. Diam netus curabitur sem auctor eget justo vitae. Tempus tincidunt penatibus vestibulum natoque augue porta molestie imperdiet at. Himenaeos eu nibh ac mollis at egestas.
<br/><br/>
Lectus dolor convallis praesent, feugiat tristique massa montes. Fusce fermentum rutrum ornare cras duis. Morbi arcu euismod porta magna ipsum malesuada ipsum volutpat. Orci fringilla hac, himenaeos purus nec ultrices suspendisse. Phasellus consectetur aliquam, litora lectus eros pulvinar curabitur. Venenatis ultricies mollis turpis, consectetur adipiscing porta lectus pharetra. Primis congue id pharetra nullam quam. Fames convallis aenean ultrices accumsan urna, nunc primis sapien tellus. Maecenas tortor tristique scelerisque penatibus fusce lacus. Commodo finibus laoreet conubia fermentum fusce ad sit torquent.
<br/><br/>                   
</p>
                                               
                        
                                           

                </center>
                    <br/><br/>
                </div>
            </div>
        </div>
{% endblock %}