{% extends 'base.html' %}
{% block content %}


<!-- story -->
<div class="container">
   <br/><br/><br/><br/>
   <div class="card mb-3" style="max-width: 2000px; max-height: 1500  px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{product.image.url}}" class="img-fluid rounded-start" style="max-width: 400px;" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <center>
          <h5 class="card-title">{{product.name}}</h5>
          <br/><br/>
          <p class="card-text justified">{{ product.description }}</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        {% if product.is_sale %}
        <div class="card-body p-4">
          <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{product.name}}</h5>
              <!-- Product price-->
              <strike>
              Rs {{product.price}} 
              </strike> &nbsp; Rs {{product.sale_price}}

        {% else %}
        {{ product.price }}

        {% endif %}
        <br/><br/><br/>


        <a href ="{% url 'hello' %}" class="btn btn-secondary">Home</a>

          </center>






      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<br/><br/><br/> <br/><br/><br/> <br/><br/><br/> <br/><br/><br/>

{% endblock %}